body {
    background: #2B2B2B;
    margin: 0;
    padding: 0;
    color: #87939A;
}

.root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.allScreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.topNav {
    background: #3C3F41;
    width: 100%;
    height: 20px;
}

.topNavLine {
    background: #3C3F41;
    width: 100%;
    height: 30px;
    border-top: 1px solid #515151;
    border-bottom: 1px solid #2B2B2B;
}

.middleContent {
    position: absolute;
    top: 52px;
    bottom: 31px;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
}

.leftBelt {
    position: absolute;
    left: 0;
    height: 100%;
    width: 20px;
    background: #3C3F41;
    border-right: 1px solid #2B2B2B;
}

.rightBelt {
    position: absolute;
    right: 0;
    height: 100%;
    width: 20px;
    background: #3C3F41;
    border-left: 1px solid #2B2B2B;
}

.footerNav {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 30px;
    background: #3C3F41;
    border-top: 1px solid #2B2B2B;
}

.leftDir {
    background: #3C3F41;
    position: absolute;
    left: 21px;
    height: 100%;
    width: 100px;
    min-width: 50px;
}

.midHtml {
    position: absolute;
    left: 122px;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}